<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Alpha Smart | Products</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="/admin/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

    <link href="/admin/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="/" class="navbar-brand"><span class="navbar-logo"></span><b>Alpha</b>smart</a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
			<!--	<li class="navbar-form">
					<form action="" method="POST" name="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter keyword" />
							<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</li> -->
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle f-s-14">
						<i class="fa fa-bell"></i>
						<span class="label">0</span>
					</a>
					<div class="dropdown-menu media-list dropdown-menu-right">
						<div class="dropdown-header">NOTIFICATIONS (0)</div>
						<div class="text-center width-300 p-b-10 p-t-10">
							No notification found
						</div>
					</div>
				</li>
				<li class="dropdown navbar-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="<%= user.profileImagePath %>" alt="">
						<span class="d-none d-md-inline"><%= user.firstname %> <%= user.lastname %></span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile" class="dropdown-item">Edit Profile</a>
						<!--<a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">0</span> Inbox</a>
						<a href="javascript:;" class="dropdown-item">Calendar</a>
						<a href="javascript:;" class="dropdown-item">Setting</a>-->
						<div class="dropdown-divider"></div>
						<form action="/logout?_method=DELETE" method="POST">
							<button type="submit" class="dropdown-item">Log Out</button>
						</form>
					</div>
				</li>
			</ul>
			<!-- end header-nav -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image image-icon bg-black text-grey-darker">
								<img src="<%= user.profileImagePath %>" alt="">
							</div>
							<div class="info">
								<b class="caret pull-right"></b><%= user.firstname %> <%= user.lastname %>
								<small style="text-transform: capitalize;"><%= user.role %></small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
							<!--<li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>-->
							<li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
							<li><a href="javascript:;"><i class="fa fa-question-circle"></i> Help</a></li>
						</ul>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav"><li class="nav-header">Navigation</li>
					<li>
						<a href="/">
							<i class="fa fa-home"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="/registrations">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>Registrations</span>
						</a>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-users"></i>
							<span>Contractors</span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="/contractor">
									<!--<b class="caret"></b>-->
									View All
								</a>
								<!--<ul class="sub-menu">
									<li class="has-sub">
										<a href="javascript:;">
											<b class="caret"></b>
											Menu 2.1
										</a>
										<ul class="sub-menu">
											<li><a href="javascript:;">Menu 3.1</a></li>
											<li><a href="javascript:;">Menu 3.2</a></li>
										</ul>
									</li>
									<li><a href="javascript:;">Menu 2.2</a></li>
									<li><a href="javascript:;">Menu 2.3</a></li>
								</ul>-->
							</li>
							<li><a href="/contractor/add">Add New</a></li>
							<!--<li><a href="javascript:;">Menu 1.3</a></li>-->
						</ul>
					</li>
					<li class="has-sub active">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-tags"></i>
							<span>Products</span>
						</a>
						<ul class="sub-menu">
							<li class="active">
								<a href="javascript:;">
									View All
								</a>
							</li>
							<li>
								<a href="/product/add">
									Add New
								</a>
							</li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-rupee-sign" aria-hidden="true"></i>
							<span>Payments</span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="/payment/pending">
									Pending
								</a>
							</li>
							<li>
								<a href="/payment">
									View All
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>Support</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<i class="fa fa-question" aria-hidden="true"></i>
							<span>Help</span>
						</a>
					</li>
					<!-- begin sidebar minify button
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					 end sidebar minify button -->

				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb-->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
				<li class="breadcrumb-item active">Products</li>
				<!--<li class="breadcrumb-item"><a href="javascript:;">Data</a></li>-->
			</ol>
			 <!--end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Products <small></small></h1>
			<!-- end page-header -->
			<!-- begin panel -->
			<!--<div class="panel panel-inverse">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Title here</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Panel Content Here
				</div>
			</div>
			 end panel -->
             <!--<a href="javascript:;" id="add-regular" class="btn btn-sm btn-inverse">Demo</a>-->
				<!-- begin panel -->
				<div class="col-xl-6">
					<div class="panel panel-inverse">
						<!-- begin panel-heading -->
						<div class="panel-heading">
							<h4 class="panel-title">All Products <!--<span class="label label-success m-l-5 t-minus-1">NEW</span>--></h4>
							<!--<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>-->
						</div>
						<!-- end panel-heading -->
						<!-- begin panel-body -->
						<div class="panel-body">
							<!-- begin table-responsive -->
							<div class="table-responsive">
								<table class="table table-striped m-b-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Price</th>
											<th width="1%"></th>
										</tr>
									</thead>
									<tbody>
										<% var i=1 %> 
										<% product.forEach(product => { %>
										<tr>
											<td>
												<%= i++ %> 
												<!--<img src="/admin/img/user/user-1.jpg" class="img-rounded height-30" />-->
											</td>
											<td><%= product.name %></td>
											<td><%= product.price %> /-</td>
											<td class="with-btn m-r-0" nowrap>
												<a href="#" class="btn btn-sm btn-primary width-60">Edit</a>
												<!--<a href="#" class="btn btn-sm btn-white width-60">Delete</a>-->
											</td>
										</tr>
										<% }) %>
									</tbody>
								</table>
							</div>
							<!-- end table-responsive -->
						</div>
						<!-- end panel-body -->
					</div>
				</div>
			</div>
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/admin/js/app.min.js"></script>
	<script src="/admin/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->

    <script src="/admin/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="/admin/js/demo/ui-modal-notification.demo.js"></script>
</body>
</html>